---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}


<div class="header_home">

<h1>Hi, I’m Rutu.</h1>
<p style="font-weight: 300; font-size: 1.5em; margin-top: 1.2em; margin-bottom: 0px;">UX Research & Design Consultant</p>
<small>
    <a href="https://www.linkedin.com/in/rutu-panchal/" target="_blank">LINKEDIN</a>
    &nbsp; &nbsp; • &nbsp; &nbsp; <a href="https://www.instagram.com/chitra_yatra/" target="_blank">INSTAGRAM</a>
    &nbsp; &nbsp; • &nbsp; &nbsp; <a href="https://dribbble.com/rutup" target="_blank">DRIBBBLE</a>
</small>
</div>

    <div id="main" role="main" >
        <div class="whatido">
                <h2 id="page-title" class="page__title">What I Do &nbsp; <div class="long_dash"></div></h2></h2>

            <div class="selected-whatido" style="width:100%;">

                {% include documents-collection-whatido-homepage.html collection="whatido" sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}

            </div>
        </div>
    </div>



<a id="work"></a>


    <div id="main" role="main">
        <div class="projects">
                <h2 id="page-title" class="page__title">My Work &nbsp; <div class="long_dash"></div></h2>


            <div class="selected-projects" style="width:100%;">

                {% include documents-collection-projects-homepage.html collection="projects" sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}

            </div>
        </div>
    </div>



<a id="about"></a>


    <div id="main" role="main" >
        <div class="projects">
            <h2 id="page-title" class="page__title">About me &nbsp; <div class="long_dash"></div></h2>
            <div class="block_text-container">
                <div class="block_text">
                I have over 4 years of experience in designing for B2B, B2B2C and B2C products. I have worked on projects in areas of finance, insurance, wellness and education. I am passionate about identifying user needs and building meaningful and useful products.

                </div>
                <div class="block_text">
                </div>

                <div style="height: 1em; clear:both;">
                </div>  
            </div> 
        </div>   
    </div>

<a id="contact"></a>
